<div class="message mb-5" id="message-<%= message.id %>">
  <p><%= message.user.username %>: <%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
  <% if message.content.present? %>
    <%= simple_format(h message.content) %>
  <% end %>
  <% if message.image.present? %>
    <%= link_to message.image.url, 'data-lightbox': message.image do %>
      <%= image_tag message.image.url %>
    <% end %>
  <% end %>
</div>