<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="row justify-content-center">

        <div class="favorite">
          <% if @post.user.id != current_user.id %>
            <%= render "favorite_cs/favorite", post_c: @post %>
          <% end %>
        </div>

    
      <div class="col-md-4 text-center post-profile-wrap">
        <div class="icon mb-2">
          <% if @user.image? %>
            <%= link_to user_path(@post.user) do %>
              <%= image_tag @post.user.image.url %>
            <% end %>
          <% else %>
            <%= image_tag "/assets/default.png", size: '160x160' %>
          <% end %>
        </div>
        <div class="user-name mb-2">
          <h3 class="font-weight-bold"><%= @post.user.username %></h3>
        </div>
        <div class="users-reviews">
          <%= render 'reviews/average_review', review: @reviews %>
        </div>
        <% if @post.user.id == current_user.id %>
          <div class="post-bt">
            <%= link_to "編集", edit_post_c_path(@post) %>
          </div>
          <%= button_to "投稿を削除", post_c_path(@post.id), class: "post-edit-delete", data: { confirm: "本当に削除しますか？" }, method: :delete %>
        <% else %>
          <div class="post-bt">
            <%=  %>
          </div>
          <div class="post-bt">
            <%=  %>
          </div>
        <% end %>
      </div>




      <div class="col-md-8 post-text-wrap">
        <div class="post-inner">
          <div>
            <h2 class="post-title font-weight-bold text-dark text-center mb-3"><%= @post.title %></h2>
          </div>
          <div class="post-image text-center mb-5">
            <% if @post.image? %>
              <%= image_tag @post.image.url, class: "img-fluid" %>
            <% else %>
              <%= image_tag '/assets/noimage.dog1.png' %>
            <% end %>
          </div>
          <div>
            <h5 class="post-title-text font-weight-bold text-dark mb-2">お住いの地域</h5>
            <p class="post-text mb-4"><%= @post.region %></p>
          </div>
          <div>
            <h5 class="post-title-text font-weight-bold text-dark mb-2">希望日時</h5>
            <p class="post-text mb-4"><%= @post.datetime %></p>
          </div>
          <div>
            <h5 class="post-title-text font-weight-bold text-dark mb-2">希望料金</h5>
            <p class="post-text mb-4"><%= @post.price %></p>
          </div>
          <div>
            <h5 class="post-title-text font-weight-bold text-dark mb-2">お支払い方法</h5>
            <p class="post-text mb-4"><%= @post.payment %></p>
          </div>
          <div class="post-comment">
            <p><%= simple_format @post.content %></p>
          </div>
        </div>
      </div>




    </div>
  </div>
</main>