<div class="average-review-rating mb-1" data-score=<%= @average_review %>></div>
<span> <%= @reviews.count %> 件のレビュー</span>

<script>
$(document).on('turbolinks:load', function() {
  $('.average-review-rating').raty({
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    readOnly: true,
    score: function () {
      return $(this).attr('data-score')
    }
  });
});
  $(window).on("popstate", function (event) {
    window.location.reload();
  });
</script>