<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <%= link_to root_path, class: "navbar-brand text-success font-weight-bold" do %>
      <i class="fas fa-paw"></i> DoggyBuddy
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav">

        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "シッター利用者として投稿する", new_post_c_path, class: "nav-link text-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "シッターとして投稿する", new_post_sitter_path, class: "nav-link text-success" %>
          </li>
          <li class="nav-item">
            <%= link_to  rooms_path, class: "nav-link text-success" do %>
              <i class="fas fa-paper-plane"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle"></i>
            <% end %>
            <%= link_to  notifications_path, class: "nav-link text-success" do %>
              <i class="fas fa-bell"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.image.url(resize: "35x35^", gravity: "center", crop: "35x35+0+0"), style: "border-radius: 4em; border: solid 2px #00bf8f;", size: "35x35" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "プロフィール", user_path(current_user), class: "text-success dropdown-item" %>
              <%= link_to "アカウントの編集", edit_user_registration_path, class:"text-success dropdown-item" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-success dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link text-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link text-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>